<nav class="navbar navbar-expand-sm navbar-light bg-light d-flex">
  <a class="ms-3 navbar-brand" routerLink="/">Event Craft</a>
  <div class="flex-fill"></div>
  <button class="navbar-toggler border-0" style="width: 45px;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/add">Add Event</a>
      </li>
      <ng-template [ngIf]="!isLoggedIn">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/signup">Sign Up</a>
        </li>
      </ng-template>
      <li *ngIf="isLoggedIn" class="nav-item" routerLinkActive="active">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>