<div class="container signup-container">
  <h1>Sign Up</h1>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput  formControlName="password" type="password">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Sign Up</button>
  </form>
  <p>Already have an account? <a routerLink="/login">Login</a></p>
</div>
